<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', dashboard_path %></li>
    <li><%= link_to 'Students', students_path %></li>
    <li><%= link_to 'Log out', log_out_path %></li>
  </ul>
</nav>